<section class='py-16 sm:py-20'>
	<div class='mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8'>
		<dl class='grid gap-6 lg:grid-cols-3'>
			<!-- Address -->
			<a
				href='https://www.google.com/maps/place/Chiesa+Parrocchiale+di+San+Bartolomeo+in+Tuto,+anche+San+Bartolo+in+Tuto/@43.7598891,11.1830861,17z/data=!3m1!4b1!4m6!3m5!1s0x132a50c1b2c019e1:0xac8e48942aa74c97!8m2!3d43.7598891!4d11.185661!16s%2Fg%2F121rpt42?entry=ttu'
				class='rounded-3xl bg-primary-500/10 px-6 py-8 dark:bg-primary-400/10'
			>
				<dt class='sr-only'>Indirizzo Chiesa</dt>
				<dd
					class='flex h-full flex-col justify-between gap-12'
				>
					<svg
						class='h-6 w-6 text-primary-600 dark:text-primary-400'
						xmlns='http://www.w3.org/2000/svg'
						viewBox='0 0 24 24'
						fill='currentColor'
						aria-hidden='true'
					>
						<path
							d='M12 23.7279L5.63604 17.364C2.12132 13.8492 2.12132 8.15076 5.63604 4.63604C9.15076 1.12132 14.8492 1.12132 18.364 4.63604C21.8787 8.15076 21.8787 13.8492 18.364 17.364L12 23.7279ZM16.9497 15.9497C19.6834 13.2161 19.6834 8.78392 16.9497 6.05025C14.2161 3.31658 9.78392 3.31658 7.05025 6.05025C4.31658 8.78392 4.31658 13.2161 7.05025 15.9497L12 20.8995L16.9497 15.9497ZM12 13C10.8954 13 10 12.1046 10 11C10 9.89543 10.8954 9 12 9C13.1046 9 14 9.89543 14 11C14 12.1046 13.1046 13 12 13Z'
						></path>
					</svg>
					<div class='text-base font-medium'>
						<p>Via Gaetano Salvemini, 2/2</p>
						<p>50018 Scandicci FI, Italia</p>
					</div>
				</dd>
			</a>

			<a
				href='https://www.google.com/maps/place//data=!4m2!3m1!1s0x132af04f0ddecf27:0xb7af2ff43138041e?sa=X&ved=1t:8290&ictx=111'
				class='rounded-3xl bg-primary-500/10 px-6 py-8 dark:bg-primary-400/10'
			>
				<dt class='sr-only'>Indirizzo Villa</dt>
				<dd
					class='flex h-full flex-col justify-between gap-12'
				>
					<svg
						class='h-6 w-6 text-primary-600 dark:text-primary-400'
						xmlns='http://www.w3.org/2000/svg'
						viewBox='0 0 24 24'
						fill='currentColor'
						aria-hidden='true'
					>
						<path
							d='M12 23.7279L5.63604 17.364C2.12132 13.8492 2.12132 8.15076 5.63604 4.63604C9.15076 1.12132 14.8492 1.12132 18.364 4.63604C21.8787 8.15076 21.8787 13.8492 18.364 17.364L12 23.7279ZM16.9497 15.9497C19.6834 13.2161 19.6834 8.78392 16.9497 6.05025C14.2161 3.31658 9.78392 3.31658 7.05025 6.05025C4.31658 8.78392 4.31658 13.2161 7.05025 15.9497L12 20.8995L16.9497 15.9497ZM12 13C10.8954 13 10 12.1046 10 11C10 9.89543 10.8954 9 12 9C13.1046 9 14 9.89543 14 11C14 12.1046 13.1046 13 12 13Z'
						></path>
					</svg>
					<div class='text-base font-medium'>
						<p>Via Nuova per Migliana, 1</p>
						<p>59025 Cantagallo PO, Italia</p>
					</div>
				</dd>
			</a>

			<div
				class='rounded-3xl bg-primary-500/10 px-6 py-8 dark:bg-primary-400/10'
			>
				<dt class='sr-only'>Lista di nozze</dt>
				<dd
					class='flex h-full flex-col justify-between gap-12'
				>
					<svg
						class='h-6 w-6 text-primary-600 dark:text-primary-400'
						viewBox='0 0 24 24'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
						><g id='SVGRepo_bgCarrier' stroke-width='0'
						></g><g
							id='SVGRepo_tracerCarrier'
							stroke-linecap='round'
							stroke-linejoin='round'></g><g
							id='SVGRepo_iconCarrier'
						>
							<path
								d='M3 21.0001H21M4 18.0001H20M6 18.0001V13.0001M10 18.0001V13.0001M14 18.0001V13.0001M18 18.0001V13.0001M12 7.00695L12.0074 7.00022M21 10.0001L14.126 3.88986C13.3737 3.2212 12.9976 2.88688 12.5732 2.75991C12.1992 2.64806 11.8008 2.64806 11.4268 2.75991C11.0024 2.88688 10.6263 3.2212 9.87404 3.88986L3 10.0001H21Z'
								stroke='#000000'
								stroke-width='2'
								stroke-linecap='round'
								stroke-linejoin='round'></path>
						</g></svg
					>
					<div class='text-base font-medium'>
						<p>ITXXXXXXXXXXXXX</p>
					</div>
				</dd>
			</div>
		</dl>
	</div>
</section>
